apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-default
  namespace: pxdocs
spec:
  rules:
  - host: docs.portworx.com
    http:
      paths:
      - backend:
          service:
            name: docs-2-13
            port:
              number: 80
              name: docs-port
        path: /
        pathType: ImplementationSpecific
  - host: 2.0.docs.portworx.com
    http:
      paths:
      - backend:
          service:
            name: docs-2-11
            port:
              number: 80
              name: docs-port
        path: /
        pathType: ImplementationSpecific
  - host: 2.1.docs.portworx.com
    http:
      paths:
      - backend:
          service:
            name: docs-2-11
            port:
              number: 80
              name: docs-port
        path: /
        pathType: ImplementationSpecific
  - host: 2.2.docs.portworx.com
    http:
      paths:
      - backend:
          service:
            name: docs-2-11
            port:
              number: 80
              name: docs-port
        path: /
        pathType: ImplementationSpecific
  - host: 2.3.docs.portworx.com
    http:
      paths:
      - backend:
          service:
            name: docs-2-11
            port:
              number: 80
              name: docs-port
        path: /
        pathType: ImplementationSpecific
  - host: 2.4.docs.portworx.com
    http:
      paths:
      - backend:
          service:
            name: docs-2-11
            port:
              number: 80
              name: docs-port
        path: /
        pathType: ImplementationSpecific
  - host: 2.5.docs.portworx.com
    http:
      paths:
      - backend:
          service:
            name: docs-2-11
            port:
              number: 80
              name: docs-port
        path: /
        pathType: ImplementationSpecific
  - host: 2.6.docs.portworx.com
    http:
      paths:
      - backend:
          service:
            name: docs-2-11
            port:
              number: 80
              name: docs-port
        path: /
        pathType: ImplementationSpecific
  - host: 2.7.docs.portworx.com
    http:
      paths:
      - backend:
          service:
            name: docs-2-11
            port:
              number: 80
              name: docs-port
        path: /
        pathType: ImplementationSpecific
  - host: 2.8.docs.portworx.com
    http:
      paths:
      - backend:
          service:
            name: docs-2-11
            port:
              number: 80
              name: docs-port
        path: /
        pathType: ImplementationSpecific
  - host: 2.9.docs.portworx.com
    http:
      paths:
      - backend:
          service:
            name: docs-2-9
            port:
              number: 80
              name: docs-port
        path: /
        pathType: ImplementationSpecific
  - host: 2.10.docs.portworx.com
    http:
      paths:
      - backend:
          service:
            name: docs-2-10
            port:
              number: 80
              name: docs-port
        path: /
        pathType: ImplementationSpecific
  - host: 2.11.docs.portworx.com
    http:
      paths:
      - backend:
          service:
            name: docs-2-11
            port:
              number: 80
              name: docs-port
        path: /
        pathType: ImplementationSpecific
  - host: 2.12.docs.portworx.com
    http:
      paths:
      - backend:
          service:
            name: docs-2-12
            port:
              number: 80
              name: docs-port
        path: /
        pathType: ImplementationSpecific
  - host: 2.13.docs.portworx.com
    http:
      paths:
      - backend:
          service:
            name: docs-2-13
            port:
              number: 80
              name: docs-port
        path: /
        pathType: ImplementationSpecific
  - host: 1.7.docs.portworx.com
    http:
      paths:
      - backend:
          service:
            name: docs-2-11
            port:
              number: 80
              name: docs-port
        path: /
        pathType: ImplementationSpecific
  tls:
  - hosts:
    - docs.portworx.com
    - docsnew.portworx.com
    secretName: ingress-pxdocs-tls
  - hosts:
    - 1.7.docs.portworx.com
    secretName: ingress-pxdocs-1.7-tls
  - hosts:
    - 2.0.docs.portworx.com
    secretName: ingress-pxdocs-2.0-tls
  - hosts:
    - 2.1.docs.portworx.com
    secretName: ingress-pxdocs-2.1-tls
  - hosts:
    - 2.2.docs.portworx.com
    secretName: ingress-pxdocs-2.2-tls
  - hosts:
    - 2.3.docs.portworx.com
    secretName: ingress-pxdocs-2.3-tls
  - hosts:
    - 2.4.docs.portworx.com
    secretName: ingress-pxdocs-2.4-tls
  - hosts:
    - 2.5.docs.portworx.com
    secretName: ingress-pxdocs-2.5-tls
  - hosts:
    - 2.6.docs.portworx.com
    secretName: ingress-pxdocs-2.6-tls
  - hosts:
    - 2.7.docs.portworx.com
    secretName: ingress-pxdocs-2.7-tls
  - hosts:
    - 2.8.docs.portworx.com
    secretName: ingress-pxdocs-2.8-tls
  - hosts:
    - 2.9.docs.portworx.com
    secretName: ingress-pxdocs-2.9-tls
  - hosts:
    - 2.10.docs.portworx.com
    secretName: ingress-pxdocs-2.10-tls
  - hosts:
    - 2.11.docs.portworx.com
    secretName: ingress-pxdocs-2.11-tls
  - hosts:
    - 2.12.docs.portworx.com
    secretName: ingress-pxdocs-2.12-tls
  - hosts:
    - 2.13.docs.portworx.com
    secretName: ingress-pxdocs-2.13-tls
