/*

  Landing page version side div

*/
.landing-content {
  display: flex;
  width: 100%;
}

.landing-body {
  height: unset;
}

.landing-page-wrapper {
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 70px;
  max-width: 1000px;
  display: block;
}

.landing-title {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 20px;
  line-height: 1.35;
  letter-spacing: -.02em;
}

.landing-sidebar {
  display: flex;
  width: 300px;
  min-width: 300px;
  height: 100%;
  flex-direction: column;
  // position: fixed;
  // position: absolute;
  background-color: #f5f5f5;
  // fix the sidebar, but allow it to be displaced by the header and footer
  // position: -webkit-sticky;
  position: sticky;
  top: 0;
  // set the sidebar to 100% of viewport height
  height: 100vh;
  // set the ensure the sidebar sits underneath the footer
  z-index: -1;
  .landing-sidebar-content {
    padding: 28px;
    padding-top: 24px;
    h4 {
      margin-bottom: 4px;
    }
    ul {
      margin-top: 0px;
      margin-bottom: 24px;
      li {
        a{
          font-weight: normal;
          font-size: 15px;
          color: #414042;
        }
      }
    }
  }
}

.version li, .orchestrator li, a {
  list-style: none;
  color: #111;
  /* font-weight: 350; */
  text-decoration: none;
}

/*

  Landing page content divs

*/

.landing-section {
  /* list multiple sections columnated */
  display: flex;
  flex-wrap: wrap;

  /* horizontal */
}

.landing-section-wrapper {
  /* max-height: 300px; */
  min-width: 285px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.landing-section-title {
  text-decoration: none;

  a {
      text-decoration: none;
      h2 {
        color: black;
        font-weight: 450;
        max-width: 299px;
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 8px;
        }
    }
  .landing-section-description {
    max-width: 277px;
    color: #8e8e8e !important;
    margin: 0px;
    font-family: "Open Sans",sans-serif !important;
    font-size: 15px;
  }

}

.landing-section-content {
  display: flex;
  flex-direction: column;

  ul {
      list-style-type: none;
      // turning this off, since flex wrapping is still bugged after all these years.
      // max-height: 200px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding-left: 0;
      margin-top: 8px;
    }

  li {
    // shrink line height to visually group any lines that wrap
    line-height: 1.3;
    // add padding to control how visually dispersed each line item is
    padding-top: 10px;
    // prevent lines from exceeding max width, trying to wrap multiple lines if there's horizontal space.
    width: 277px;
    // push the next wrapped column to the right
    margin-right: 25px;
  }

  a {
      text-decoration: none;
      color: #f15a24;
      font-weight: normal;
      font-size: 15px;
  }
}

#landing-section-more-link {
  /* float:right;
  margin-right: 30px; */
  color: #8e8e8e;
  font-weight: 500;
  // hide this for now, since we're not concatenating the list
  // display: none;
  font-size: 15px;
}
.landing-section-icons {
  /* tells css to render this as inline item under the flex defined in the `landing-sidebar` selector */
  display: inline-flex;
}
.landing-section-icons img {
  margin: auto;
}

.orchestrator {
  ul {
    padding-left: 0;
  }
}

.version {
  ul{
    padding-left: 0;
  }
}

.landing-search-container {

}

.landing-search-box {
  width: 700px;
}

.landing-search-box-input {
  width: 90%;
}

.other-products {
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

.docs-content-landing {
}

// Customize the header and footer for the landing page only

.landing-docs-footer {
  width: unset !important;
  left: unset !important;
  visibility: unset !important;
}

.landing-docs-header {
  display: flex;
}

// Landing page search css
// making these important because they must override the Algolia styles, which sit lower in the cascade. Ideally, we should find out how to move these down in the cascade, so they overwrite Algolia's styles without the important tag.

.landing-search-input {
  width: 700px !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom-width: 3px !important;
  border-color: #f15a24 !important;
  border-radius: 0 !important;
  font-family: "Open Sans",sans-serif !important;
  font-size: 15px !important;
  box-shadow: none !important;
}

.landing-search-box-root {
  width: 700px !important;
  max-width: 700px !important;
}