@media print {
  .docs-drawer, .docs-header, .docs-footer {display: none !important;}
  #scrollspy-container {display: none !important}
  .docs-content {margin-left: 0px !important; width: 90% !important; max-width: none !important;}
  body:after {content: "© 2022 Portworx, Inc. Visit http://docs.portworx.com for more documentation."; padding-left: 35px;}
}

html, body {
 font-family: 'Roboto', 'Helvetica', sans-serif;
 height: 100%;
}

h2 {
 margin-bottom: 0;
}

.infoblock {
 margin-bottom: 20px;
}

.docs-layout {
 /* height: 100%; */
}

.docs-main {
 height: 100%;
}

.docs-layout .mdl-layout__drawer-button {
 color: rgba(0, 0, 0, 0.54);
}


/*

 HEADER

*/
.docs-header {
 height: 100px;
 margin-left: 0px !important;
 width: 100% !important;
 box-shadow: none !important;
 background-color: rgb(44, 43, 45) !important;
 z-index: 100;
}

@media screen and (max-width: 1025px) {

 .docs-header {
   height: 60px;
 }

 .docs-header .navbar-menus {
   display: none !important;
 }
}

.docs-header .container {
 width: 100%;
 height: 100%;
 /*max-width: 1130px;*/
 /*min-width: 1024px;*/
 margin-left: auto;
 margin-right: auto;
 font-family: 'Libre Franklin',sans-serif;
}

.docs-header .container .navbar-brand {
 float: left;
}

.docs-header .container .navbar-brand img {
 margin-top: 15px;
 margin-left: 20px;
 height: 70px;
}

@media screen and (max-width: 1025px) {

 .docs-header .container .navbar-brand img {
   margin-top: 6px;
   margin-left: 70px;
   height: 46px;
 }
}

.docs-header .container .navbar-menus {
 display: inline-block;
 float: right;
 padding-left: 15px;
 padding-right: 15px;
 margin-top: 15px;
}

.docs-header .container .navbar-menus ul {
 line-height: 22.857px;
 font-weight: 400;
 letter-spacing: 0;
 text-rendering: optimizeLegibility;
 list-style-type: none;
 font-size: 14px;
}

.docs-header .container .navbar-menus li {
 display: inline-block;
}

.docs-header .container .navbar-menus a {
 font-weight: 100;
 text-decoration: none;
 background-color: transparent;
 transition: all .5s ease;
}


.docs-header .container .navbar-menus .header-top-menu {
 list-style-type: none;
 margin-top: 5px;
 margin-bottom: 15px;
}

.docs-header .container .navbar-menus .header-main-menu {
 margin-left: 230px;
 margin-top: 10px;
}

.docs-header .container .navbar-menus .header-top-menu li a {
 color: #ff5000;
 text-transform: uppercase;
 font-family:"Libre Franklin", sans-serif;
 font-weight: 700;
 padding: 0 15px;
 font-size: 16px;
}

.docs-header .container .navbar-menus .header-top-menu li:nth-child(2) a {
 color: #ffffff;
 text-transform: uppercase;
 font-family:"Libre Franklin", sans-serif;
 font-weight: 700;
 font-size: 16px;
 background-color: #ff5000;
 border: 2px solid #ff5000;
 padding: 5px 25px 5px 25px;
 margin-left: 10px;
}

.docs-header .container .navbar-menus .header-main-menu a {
 color: #ffffff;
 padding: 0px;
 font-size: 15px;
 line-height: 20px;
 margin-left: 10px;
 margin-bottom: 15px;
 margin-top: 30px;
 margin-right: 0px;
 font-weight: bold;
}

/*

 FOOTER

*/

.docs-footer {
 visibility: hidden;
 position: relative;
 z-index: 5000 !important;
 bottom: 0px;
 background-color: #262729;
 color: #ffffff;
 font-family: "Libre Franklin", sans-serif;
 left: 300px;
 width: calc(100% - 300px)
}

@media screen and (max-width: 1025px) {

 .docs-footer {
   display: none;
 }

 .docs-footer-padding {
   display: none;
 }

}

.docs-footer .footer-container {

 margin: auto;
 display: flex;
 flex-direction: row;
}

.docs-footer .left-col {
 padding: 0 0 10px 2em;
 min-width: 200px;
 flex: 0;
}

.docs-footer .middle-col {
 flex: 1;
 display: flex;
 padding: 2.2em 20px 0;
}

.docs-footer .right-col {
 min-width: 300px;
 padding:2px 0;
 flex: 0;
}

/*

 FOOTER LEFT COL

*/
.docs-footer .left-col .page-sub-header {
 font-size: 30px;
 font-weight: 300;
 margin: 0;
 margin-bottom: 15px;
 text-align: left;
}

.docs-footer .footer-input {
 padding: 5px !important;
 border-radius: 0;
 background-color: #9d9fa2;
 color: #fff;
 border: none;
 box-shadow: none;
 font: inherit;
}

.docs-footer .mktoForm .mktoFormCol {

}

.docs-footer label {
 font-weight: 200 !important;
 display: none;
}

.docs-footer input {
 line-height: 20px !important;
 border-radius: 0;
 background-color: #9d9fa2;
 color: #fff;
 border: none;
 max-width: 100%;
 font-weight: 200 !important;
 width: 100%;
}

.docs-footer input::placeholder {
 color: #fff;
 text-transform: uppercase;
 font-size: 0.7em;
 font-weight: 200 !important;
}

.docs-footer textarea {
 line-height: 20px !important;
 border-radius: 0;
 background-color: #9d9fa2;
 color: #fff;
 border: none;
 max-width: 100%;
 width: 100%;
}

.docs-footer textarea::placeholder {
 color: #fff;
 text-transform: uppercase;
 font-size: 0.7em;
 font-weight: 200 !important;
}

.docs-footer select {
 line-height: 20px !important;
 border-radius: 0;
 background-color: #9d9fa2;
 color: #fff;
 border: none;
 max-width: 100%;
 width: 100%;
}

.docs-footer .mktoForm .mktoGutter {
 float: left;
 height: 1.2em;
}

.docs-footer .mktoForm .mktoOffset {
 display: none;
}

.docs-footer .mktoForm .mktoFormCol {
 margin-bottom: 3px !important;
}

.docs-footer .mktoHtmlText {
 font-size: 0.8em;
 font-weight: 100 !important;
}

.docs-footer .mktoButtonRow {
 float: right;
 text-align: left;
 margin: 0;
 padding: 0;
 right: 30px !important;
 margin-top: -3px !important;
}

.docs-footer button.mktoButton {
 background: transparent !important;
 border: none !important;
 padding: 0 0 0 5px !important;
 font-family: 'Libre Franklin',sans-serif;
 font-weight: 700;
 box-shadow: none !important;
 height: 23px !important;
 line-height: 18px !important;
 border-radius: 2px;
 cursor: pointer;
 font-size: 13px;
 color: white;
 text-align: center;
 text-decoration: none;
 text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
 position: relative;
 display: inline-block;
 vertical-align: top;
 float: right;
}


/*

 FOOTER MIDDLE COL

*/

.docs-footer .middle-col {
 flex: 1;
 display: flex;
 padding: 24px 20px 0;
}

.docs-footer .middle-col .link-col {
 flex: 1;
}

.docs-footer .middle-col ul.footer-links {
 list-style: none;
 padding-left: 0;
 margin-top: 0;
 margin-bottom: 10px;
}

.docs-footer .middle-col ul.footer-links > li {
 line-height: 25px;
 display: list-item;
 text-align: -webkit-match-parent;
}

.docs-footer .middle-col a {
 font-family: "Benton Sans Lt", "Open Sans", sans-serif !important;
 text-decoration: none;
 color: #ccc;
 font-size: 12px !important;
 letter-spacing: 0;
 text-rendering: optimizeLegibility;
 -webkit-font-smoothing: antialiased;
 font-weight: 400 !important;
 text-decoration: none;
 display: inline-block;
 padding: 0 .35em
}

.docs-footer .middle-col .font-600 {
 font-weight: 500 !important;
}



/*

 FOOTER RIGHT COL

*/

.docs-footer .right-col > img.portworx-logo {
 max-height: 70px;
 margin: 0;
}

.docs-footer .right-col .footer-right-indent {
 padding-left: 30px;
 padding-top: 30px;
}

.docs-footer .right-col img.footer-social {
 height: 40px;
 width: 40px;
 padding: 5px;
 vertical-align: middle;
 max-height: 70px;
}

.docs-footer .right-col a {
 text-decoration: none;
 color: #fff;
 font-weight: 400;
}

.docs-footer .right-col address {
 font-family: "Benton Sans Lt", "Open Sans", sans-serif !important;
 font-weight: 100 !important;
 margin-bottom: 20px;
 font-style: normal;
 line-height: 1.42857143;
 font-size: 14px;
 text-rendering: optimizeLegibility;
 -webkit-font-smoothing: antialiased;
}

.docs-footer .right-col .copyright {
 text-rendering: optimizeLegibility;
 -webkit-font-smoothing: antialiased;
}


/*

 DROP DOWN MENUS

*/

.docs-header .container .navbar-menus .header-main-menu .dropdown-menu {
 display: none;
 position: absolute;
 top: 0px;
 left: 0px;
 background-color: rgba(243, 102, 33, 0.8);
 box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px 0px;
 border: 1px solid rgba(0, 0, 0, 0.15);
 border-bottom-left-radius: 4px;
 border-bottom-right-radius: 4px;
 z-index: 2000;
 min-width: 160px;
}

.docs-header .container .navbar-menus .header-main-menu .dropdown-menu > div {
 text-align: center;
 margin: 5px 0;
}

.docs-header .container .navbar-menus .header-main-menu .dropdown-menu > div:hover {
 background-color: rgba(143, 52, 0, 1);
}

.docs-header .container .navbar-menus .header-main-menu .dropdown-menu > div a {
 font-family: "Libre Franklin", sans-serif;
 font-size: 10pt;
 color: #fff !important;
 font-weight: 100 !important;
 text-rendering: optimizeLegibility;
}

/*

 SIDE MENU

*/


.docs-drawer {
 border: none;
 width: 300px;
 position: fixed;
 z-index: 2000;
 top: 100px;
 bottom: 0;
 overflow-y: hidden !important;
 display: flex;
 flex-flow: column;
 transition: left .35s ease-in-out;
}

@media screen and (max-width: 1025px) {

 .docs-drawer {
   height: calc(100% - 60px);
   max-height: calc(100% - 60px);
   top: 60px;
   left: -300px;
 }
}

.docs-drawer.visible {
 left: 0px !important;
}

/* END iOS Safari specific workaround */
.docs-drawer .mdl-menu .mdl-menu__item {
 display: flex;
 align-items: center;
}

#search-container {
 padding-left: 5px;
 padding-right: 5px;
 padding-bottom: 10px;
 padding-top: 10px;
 border: none;
 background-color: #e5e5e5;
 display: none;
}

#search-container-holding-space {
 padding-left: 5px;
 padding-right: 5px;
 padding-bottom: 10px;
 padding-top: 10px;
 border: none;
 background-color: #e5e5e5;
}

.docs-navigation {
 flex: 2;
 overflow: auto;
 padding-top: 0px !important;
 padding-bottom: 20px !important;
 background-color: #f5f5f5 !important;
}

.docs-navigation #menu-content {
 padding-top: 10px !important;
}


/*

 version menu

*/

#version-menu {
 background-color: #e5e5e5;
 padding-top: 14px;
 padding-bottom: 10px;
}

#version-menu-dropdown {
 visibility: hidden;
}

#version-menu #vert-button {
 margin-left: 10px;
 color: #666;
}

#version-menu #text-button {
 color: #666 !important;
}

#version-menu .mdl-menu__container {
 margin-left: 20px;
 z-index: 1000 !important;
}

/*

 SIDE MENU NAV BUTTONS

*/


.docs-layout .docs-navigation .mdl-navigation__link {
 display: flex !important;
 flex-direction: row;
 font-weight: 350;
 font-size: 1em;
 padding: 4px 0px;
 color: #000;
}

.docs-layout .docs-navigation .mdl-navigation__link .menu-link-row {
 display: flex;
 flex-direction:row;
}

.docs-layout .docs-navigation .mdl-navigation__link .menu-link-title {
 display: block;
 flex: 1 0 auto;
}

.docs-layout .docs-navigation .mdl-navigation__link .menu-link-icon {
 display: block;
 flex: 0 0 auto;
 padding-right: 10px;
}

.docs-layout .docs-navigation .mdl-navigation__link.active {
 font-weight: 500;
}

.docs-layout .docs-navigation .mdl-navigation__link:hover {

}

.docs-layout .docs-navigation .mdl-navigation__link .empty-icon {
 display: inline-block;
 width: 24px;
}

.docs-header .mdl-layout__drawer-button .material-icons {
 font-size: 24px;
 color: rgba(255, 255, 255);
 margin-right: 32px;
 padding-left: 20px;
}

.docs-header .mdl-layout__drawer-button {
 display: none;
}

@media screen and (max-width: 1025px) {
 .docs-header .mdl-layout__drawer-button {
   display: block;
 }
}

/*

 hide large content and show small content when screen is small

*/
.docs-wide-content {
 display: none;
}

.docs-narrow-content {
 display: none;
}

@media screen and (min-width: 1025px) {
 .docs-wide-content {
   display: inline-block;
 }
}

@media screen and (max-width: 1025px) {
 .docs-narrow-content {
   display: inline-block;
 }
}


hr.margin {
 margin-top:50px;
}

.listmargin {
 margin-top:20px;
}

/*

 apply material design rules to page content

*/

.docs-content {


 padding-left: 30px;
 padding-right: 30px;
 padding-bottom: 40px;
 /* left offset for sidebar */
 margin-left: 300px;
 /* this needs to be the 300px for the sidebar - 120px padding - 250px scrollspy */
 width: calc(100% - 690px);
 max-width: 1000px;
}

@media screen and (max-width: 1025px) {
 .docs-content {

   /* top offset for topbar */
   padding-top: 47px;
   /* left offset for sidebar */
   margin-left: 0px;
   /* this needs to be the 300px for the sidebar - 120px padding */
   width: calc(100% - 60px);
 }
}

.docs-content * {
 font-size: 15px;

}

.docs-content p {
 color: rgb(51, 68, 76) !important;
 font-family: "Open Sans",sans-serif !important;
}

.docs-content a {
 color: #f15a24;
 font-weight: normal;
}

.docs-content a * {
 color: #f15a24;
 font-weight: normal;
}

.docs-content p > code, .docs-content li > code {
 color: #666;
 background-color: #f5f5f5;
 padding: 4px;
 font-weight: 500;
}

.docs-content li p {
 margin-bottom: 0px !important;
 font-family: 'Roboto', 'Helvetica', sans-serif !important;
 color: rgba(0,0,0,.87) !important;
}


/* style bullet list items under an ordered list */

.docs-content ol ul li {
 color: rgb(51, 68, 76) !important;
 font-family: "Open Sans",sans-serif !important;
}

.docs-content ol ul li > code {
 color: #666;
 background-color: #f5f5f5;
 padding: 4px;
 font-weight: 500;
}

/* style bullet list items under an ordered list */

.docs-content ol ul li {
 color: rgb(51, 68, 76) !important;
 font-family: "Open Sans",sans-serif !important;
}

.docs-content ol ul li > code {
 color: #666;
 background-color: #f5f5f5;
 padding: 4px;
 font-weight: 500;
}

.docs-content .header-wrapper {
 margin-top: 0px;
 padding-top: 15px;
 padding-bottom: 15px;
}

.docs-content .header-container {
 /*border-left: 1px solid #ff0000;*/
}

.docs-content .page-title {
 margin: 0px;
 padding: 0px;
 padding-bottom: 10px;
}

.docs-content .page-subtitle {
 margin: 0px;
 padding: .05em 0 .05em 1em;
 color: #999;
 font-size: 13px;
}

.docs-content .page-subtitle a {
 font-size: 13px;
}

.docs-content .github-link-cell {
 float: right;
 padding-top: 12px;
}

/*
 these will be be shown by javascript once the material design classes have been applied
*/
.docs-content table {
 display: none;
 width: 100%;
 margin-top: 30px;
 margin-bottom: 30px;
}

/*
 the default header sizes are a bit too big
*/
.docs-content h1 {
 font-size: 30px;
 font-weight: 500;
}

.docs-content h2 {
 font-size: 24px;
 font-weight: 500;
}

.docs-content h3 {
 font-size: 20px;
 font-weight: 500;
}

.docs-content homelistSeriesTitle {
 font-size: 20px;
 font-weight: 500;
}

.docs-content h4 {
 font-size: 18px;
 font-weight: 500;
}

.docs-content h5 {
 font-size: 16px;
 font-weight: 500;
}

.docs-content h6 {
 font-size: 14px;
 font-weight: 500;
}

/*
 links
*/

.widelink-container {
 background-color: #FEF8F6;
 color: #dc522b;
 border: 1px solid #dc522b;
 border-radius: 4px;
 margin-right: 5px;
 padding: 20px;
 font-size: 18px;
}

.prevnextlink-container {
 background-color: #ffffff;
 color: #666 !important;
 border-radius: 4px;
 padding: 20px;
 font-size: 18px;
}

.prevnextlink-container * {
 color: #666 !important;
 font-size: 18px;
}

.prevnextlink-container .material-icons{
 color: #f15a24 !important;
}

.no-underline {
 text-decoration: none;
}

.float-left {
 float: left;
 display: inline-block;
}

.float-right {
 float: right;
 display: inline-block;
}

.prevnext-small {
 font-size: 0.7em !important;
 font-weight: 200 !important;
}

.img-padding {
 padding: 5px;
}

/*

 menu

*/

.branchlink {

}

.leaflink {

}

.infoblock {
 padding: 20px;
 background-color: #f5f5f5;
 border-left: 3px solid #dc522b;
}


/*

 search

*/



/* begin new search */

.ais-Hits {
 /* display: flex; */
 /* width: 550px; */
 /* height: 90vh; */
 /* max-height: 750px; */
 /* overflow: scroll; */
 z-index: 1000;
}

.ais-Hits-list {
 list-style-type: none;
 padding-left: 0;
 margin-top: 0;
}

.ais-Hits-item {
 padding: 15px;
 padding-bottom: 0px;
 padding-top: 0px;
}

.search-hits-row {
 border-bottom-style: solid;
 border-color: #ccc;
 border-width: 1px;
 margin-bottom: 10px;
 padding-bottom: 10px;
}

/* .ais-Hits-item::after {
 content: '';
 width: 100%;
 border-bottom: solid 1px #000;
 margin-bottom: 5px;
} */


/* end new search */

#search-wrapper {
 flex-direction: column;
 display: flex;
 position: sticky;
 top: 0;
 width: 550px;
 left:300px;
 overflow: scroll;
 /* this works, but is fixed in height, so even if there are fewer results, the pane will be full height */
 height: 800px;
 margin-bottom: calc(800px * -1);



 box-shadow: 5px 5px 10px rgba(0, 0, 0, .15);
 background-color: #fafafa;
 display: none;
 z-index: 1000;
}

/* #search-hits::before, #search-hits-secondary-index::before {
 content: 'index';
 display: flex;
 padding-left: 30px;
 padding-top: 10px;
 padding-bottom: 7px;
 padding-right: 30px;
 color: #fff;
 background-color: #414042;
 font-size: 16px;
 font-weight: 450;
} */

.search-hits-title {
 display: flex;

 /* testing sticky titles */
 /* position: sticky;
 bottom:0; */

 padding-left: 30px;
 padding-top: 10px;
 padding-bottom: 7px;
 padding-right: 30px;
 margin:10px;
 margin-bottom: 0px;
 color: #fff;
 background-color: #414042;
 font-size: 16px;
 font-weight: 450;
}

.search-hits {
 display: flex;
 flex-direction: column;
 padding: 10px;
 z-index: 1000;
 /* display: none; */
}

.search-hits li:nth-of-type(1n+5) {
 display: none;
}

.show-li{
 display: list-item!important;
}

/* @media screen and (max-width: 1025px) {
 #search-wrapper {
   top: 60px;
 }
} */

/* @media screen and (max-width: 759px) {
 #search-wrapper {
   width: auto;
   right: 0;
 }
} */

@media screen and (max-width: 840px) {
 #search-wrapper {
   bottom: 0;
   left: 0;
   right: auto;
   /* this set's the search wrapper div's location in relation to where the div originates. We need the `0` value here to instruct the browser where to pin search wrapper when scrolling with sticky positioning */
   top: 0;
   /* this renders the div down, out of the way of the search bar, but preserves its original location for sticky pinning  */
   transform: translateY(65px);
   width: 300px;
   z-index: 10000;
   max-height: 100%;
   box-shadow: none;
   /* this adheres search-wrapper to the top of the header */
   position: sticky;
 }

 .search-hits {
   z-index: 10000;
 }
}

.ais-SearchBox-input {
 width: 100% !important;
 -webkit-appearance: none;
 -webkit-rtl-ordering: logical;
 -webkit-user-select: text;
 background-attachment: scroll;
 background-clip: border-box;
 background-color: #fff;
 background-image: url("../images/magnifierIcon.svg");
 background-repeat: no-repeat;
 background-origin: padding-box;
 background-position-x: 15px;
 background-position-y: 50%;
 background-size: 20px;
 border-color: rgb(212, 216, 227);
 border-style: solid;
 border-radius: 4px;
 border-width: 1px;
 box-shadow: rgba(85, 95, 110, 0.2) 0px 1px 1px 0px;
 box-sizing: border-box;
 color: #000;
 display: inline-block;
 font-family: Roboto, Helvetica, sans-serif;
 font-size: 14px;
 height: 46px;
 line-height: 20px;
 margin: 0px;
 padding-bottom: 10px;
 padding-left: 35px;
 padding-right: 10px;
 padding-top: 10px;
 text-align: start;
 text-indent: 0px;
 /* transition-delay: 0s, 0s;
 transition-duration: 0.4s, 0.4s;
 transition-property: box-shadow, background;
 transition-timing-function: ease, ease; */
 /* vertical-align: middle;
 white-space: normal; */
 writing-mode: horizontal-tb;
 outline: none;
}

.search-box-root {
 box-sizing: border-box;
 color: rgba(0, 0, 0, 0.87);
 rgba(0,0,0,.87)html material.min.css:8
 texthtml  User Agent Style Sheet
 display: inline-block;
 font-family: Roboto, Helvetica, sans-serif;
 font-size: 14px;
 font-weight: normal;
 height: 46px;
 line-height: 20px;
 max-width: 300px;
 position: relative;
 white-space: nowrap;
 width: 290px;
}

.aa-input-search::-webkit-search-decoration {
 background: url("http://www.w3.org/2000/svg") no-repeat;
}

.search-hits-empty {
 margin: 15px;
 color: #f15a24;
}

.search-hits-row {
 margin: 15px;
 padding-bottom: 15px;
 border-bottom: 1px solid #ccc;
}

.search-hits-section {
 font-size: 0.8em;
}

.search-hits-section a {
 text-decoration: none;
 color: #f15a24;
}

.search-hits-page a {
 color: #666;
}

.search-hits-page em {
 color: #f15a24;
}

.search-hits-matches a {
 font-size: 0.8em;
 font-weight: normal;
 color: #999;
 text-decoration: none;
}

.search-hits-matches em {
 color: #f15a24;
}

.ais-search-box-holding {
   display: inline-block;
   position: relative;
   height: 46px;
   white-space: nowrap;
   font-size: 14px;
}

.ais-search-box--input-holding {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   font: inherit;
   background: #fff;
   display: inline-block;
   border: 1px solid #d4d8e3;
   border-radius: 4px;
   box-shadow: 0 1px 1px 0 rgba(85,95,110,.2);
   transition: box-shadow .4s ease,background .4s ease;
   padding: 10px 10px 10px 35px;
   vertical-align: middle;
   white-space: normal;
   height: 46px;
   width: 100%;
}


/*

 content

*/


#page-content {
 width: 100% !important;
}

/*

 scrollspy

*/

#scrollspy-container {
 min-width: 330px;
 max-width: 330px;
 height: calc(100% - 113px);
 max-height: calc(100% - 113px);
 position: fixed;
 overflow-y: auto;
 top: 113px;
 right: 0px;
}

@media screen and (max-width: 1025px) {
 #scrollspy-container {
   display: none;
 }
}

#scrollspy-container nav {
 padding-right: 20px;
 padding-top: 20px;
 padding-bottom: 30px;
}

#scrollspy-container ul {


}

.scrollspy-item {
 margin-bottom: 6px;
}

.scrollspy-item, .scrollspy-item a  {
 color: #999;
 text-rendering: optimizeLegibility;
 -webkit-font-smoothing: antialiased;
 font-weight: 400 !important;
 font-family: Roboto, Helvetica, sans-serif !important;
}

.scrollspy-item.active, .scrollspy-item.active a  {
 color: #f15a24;
 font-weight: 600 !important;
}

.scrollspy-H2 a {
 font-size: 12pt !important;
 text-decoration: none;
}

.scrollspy-H3 {
 margin-left: 20px;
}

.scrollspy-H3 a {
 font-size: 10pt !important;
 text-decoration: none;
}

.scrollspy-H4 {
 margin-left: 20px;
}

.scrollspy-H4 a {
 font-size: 10pt !important;
 text-decoration: none;
}

h2,h3,h4,h5,h6 a {
 text-decoration: none;
}



/*

 copy paste

*/

.mdl-tooltip {
 font-size: 10px;
}

.highlight { position:relative;}

.highlight .copy-link-old {
 margin-left: 10px;
 cursor: pointer;
 background-color: #fff;
 border: 1px solid #f15a24;
 color: #f15a24;
 padding: 3px;
 padding-left: 8px;
 padding-right: 8px;
 font-size: 8pt;
 float: right;
}

.highlight.copyable:hover .copy-link {
 display:block;
}
.highlight .copy-link-old.active {
 background-color: #f15a24;
 color: #fff;
}

.highlight .copy-link .button {
 color: #fff;
 background-image: linear-gradient(to right,#f1732f,#d74f26);
 border-radius: 3px;
 background-color: #f1732f;
 border-color: #f1732f;
 padding: 5px 5px;
 cursor:pointer;
 transition: all 1.5s;
}
.highlight .copy-link .button, .highlight .copy-link .button i
{
 vertical-align: text-bottom;
}

.highlight .copy-link.active {
 display:block !important;
}

.highlight .copy-link .button.active {
 background: #d74f26;
 color:#000;
}


.highlight .copy-link {
 display:none;
 margin-left: 10px;
   cursor: pointer;
 /* padding: 3px; */
 /* padding-left: 8px; */
 /* padding-right: 8px; */
 font-size: 8pt;
 /* float: right; */
 position: absolute;
 right: 0px;
   top: -16px;
 /* box-shadow: 6px 6px 7px 2px #ccc; */
}


.highlight.typeOutput
{
   margin-top: -18px;
   background-color: #f5f4f4;
}

.highlight .copyable pre {
 background-color: #e2dede;
}

.docs-content pre {
   padding: 15px;

   background-color: #efefef;
   /* font-family: sans-serif; */
   border: 1px solid #d2d2d2;
   overflow: auto;

   -webkit-box-shadow: 6px 6px 7px 2px #f7f3f3;
   -moz-box-shadow: 6px 6px 7px 2px #f7f3f3;
   box-shadow: 6px 6px 7px 2px #f7f3f3;
}

.prev-next-title {
 font-size: 10pt;
 color: #666;
}

.docs-content pre code {
 display:inline-block;
 line-height: 20px;
 font-size: 0.8em;
}

@media screen and (max-width: 1025px) {
 .docs-content pre {
   padding: 5px;
 }

 .docs-content pre code {
   display:inline-block;
   line-height: 14px;
   font-size: 0.6em;
 }
}



/*

 menu-children

*/

.sidemenu-arrow-link {
 display: inline-block;
}

.menu-children {
 -webkit-transition:all 0.5s ease;
 -moz-transition:all 0.6s ease;
 height:0px;
 opacity:0;
 overflow: hidden;
}

.menu-children.open {
 overflow:visible;
 opacity:1;
 height: auto;
}


/*

 images

*/

.docs-content img {
 max-width: 100% !important;
 line-height: 24px !important;
}


/*

 logo list

*/

.logo-list-container {
 text-align: center;
 position: relative;
}

.logo-list-container a {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 display: inline-block;
 background-color: #f5f5f5;
 padding: 2em;
 width: 28%;
 margin: .5em;
 border: 1px solid #ccc;
 text-align: center;
 max-width: 235px;
}

@media screen and (max-width: 480px) {
 .logo-list-container a {
   width: 45%;
 }
}

.logo-list-container a:hover {
 background: #f0f0f0;
}

.logo-list-image img {
 width: 100%;
 height: auto;
 max-height: 150px;
}

.logo-list-title {
 text-align: center;
 padding-top: 30px;
 font-size: 1.6em;
}

/*

 homelist

*/

.list-series {
 display: grid;
 list-style: none;
 grid-column-gap: 2%;
 grid-template-columns: repeat(3, minmax(30%, 1fr));
 grid-row-gap: 22px;
 width: 100%;
 padding: 30px 0;
}

@media screen and (max-width: 1299px) {
 .list-series {
   grid-template-columns: repeat(2, minmax(48%, 1fr));
 }
}

@media screen and (max-width: 1025px) {
 .list-series {
   grid-template-columns: repeat(3, minmax(30%, 1fr));
 }
}

@media screen and (max-width: 759px) {
 .list-series {
   grid-template-columns: repeat(2, minmax(48%, 1fr));
 }
}

@media screen and (max-width: 480px) {
 .list-series {
   grid-template-columns: repeat(1, minmax(100%, 1fr));
 }
}

.list-series__clickable {
 display: inline-block;
}

.list-series__item {
 border-radius: 0;
 border-top: 5px solid #f15a24;
 display: block;
 display: inline-block;
 width: 100%;
}

.list-series__item a {
 text-decoration: none;
}

.list-series__item i {
 position: absolute;
 bottom: 1em;
 font-size: 18px;
 right: 1em;
}

.list-series__item .mdl-card__media {
 background: #fff;
 text-align: center;
 height: 150px;
 overflow: hidden;
}

@media screen and (max-width: 1499px) {
 .list-series__item .mdl-card__media {
   height: 120px
 }
}

.list-series__item .mdl-card__media img {
 width: 100%;
 height: auto;
}

.list-series__item .mdl-card__title {
 padding-bottom: 0;
}

.list-series__item .mdl-card__title-text {
 text-decoration: none;
 color: #000;
 font-weight: 500;
 font-size: 1.1em;
 padding: .5em 0;
 text-decoration: none;
}

.list-series__item .mdl-card__supporting-text {
 padding-top: 5px;
}

.list-series__item .mdl-card__supporting-text p {
 font-size: 13px;
 color: #000;
 text-decoration: none;
}

@media screen and (max-width: 1299px) {
 .list-series__item .mdl-card__media {
   height: 100px
 }
}

@media screen and (max-width: 1099px) {
 .list-series__item .mdl-card__media {
   height: 80px
 }
}

@media screen and (max-width: 759px) {
 .list-series__item .mdl-card__media {
   height: 120px
 }

 .list-series__item.mdl-card {
   min-height: 125px;
 }

 .list-series__item .mdl-card__supporting-text {
   padding-top: 0;
 }

 .list-series__item .mdl-card__title {
   padding: 10px 1em 0;
 }

 .list-series__item .mdl-card__title-text a {
   padding-bottom: 5px;
 }
}

.docs-content img {
 width: auto;
 margin-top: .5em;
}

.form {
 background: #262729;
 position: absolute;
 top: -528px;
 right: 1em;
 clear: both;
 padding: 2em;
 width: 300px;
 display: none;
}

.btn-orange {
 cursor: pointer;
 display: inline-block;
 background: #f15a24;
 padding: .65em 1.5em;
 border-radius: 3px;
 text-transform: uppercase;
 font-weight: 700;
 margin-right: .5em;
 text-align: center;
 width: 80px;
}

/*

 search full screen

*/

.docs-drawer.full-screen {
 max-width: 100%;
 width: 100%;
 height: 65px;
 background: #fff;
 padding-top: 30px;
}

.docs-drawer.full-screen #search-container {
 background: transparent !important;
 width: 400px;
 margin: 0 auto;
}

#search-wrapper.full-screen {
 background: #fff;
 /* bottom: 0;
 height: unset;
 max-height: unset; */
 position: relative;
 width: 625px;
 margin:0 auto;
 left:unset;
 box-shadow: none;
 top: 100px;
 overflow: unset;
}

.search-hits.full-screen .search-hits-section {
 font-size: 1em;
}

.search-hits.full-screen .search-hits-page {
 font-size: 1.2em;
}

.search-hits.full-screen .search-hits-matches a {
 font-size: 1em;
}

.full-screen__close,
.full-screen__iframe__close {
 position: absolute;
 right: 50px;
 color: #656565;
 font-size: 1.2em;
 display: inline-block;
 text-align: center;
 text-decoration: none;
}

.full-screen__close:hover,
.full-screen__iframe__close:hover {
 color: #f15a24
}

.full-screen__close i,
.full-screen__iframe__close i {
 font-size: 2em;
}

@media screen and (max-width: 480px) {
 .docs-drawer.full-screen #search-container {
   width: 250px;
   margin: 0 0 0 50px;
 }

 .full-screen__close,
 .full-screen__iframe__close {
   right: 20px;
 }

 .full-screen__close i,
 .full-screen__iframe__close i {
   font-size: 1.5em
 }

 .search-hits.full-screen {
   max-width: 320px;
 }

}

.full-screen__iframe-wrap {
 position: absolute;
 top: 113px;
 left: 300px;
 right: 0;
 bottom: 0;
 display: none;
 z-index: 10000;
 height: 100%;
 width: calc(100% - 300px);
 border: none;
 overflow: hidden;
}

.full-screen__iframe {
 position: absolute;
 height: 100%;
 width: 100%;
 border: none;
 top: -60px;
}

.full-screen__iframe__close {
 background: #f0f0f0;
 border-radius: 50%;
 box-shadow: 0 5px 10px #616161;
 display: inline-block;
 padding: 15px;
 display: none;
 top: 125px;
 z-index: 10001;
 line-height: .75;
 font-size: .9em;
 width: 40px;
 height: 40px;
 position: fixed;
}

@media screen and (max-width: 1025px) {
 .full-screen__iframe-wrap {
   left: 0;
   width: 100%;
   top: 60px;
 }

 .full-screen__iframe__close {
   top: auto;
   bottom: 20px;
   right: 20px;
 }
}

code .s {
 color: rgba(0,0,0,0.87) !important;
 font-size: 12px;
}

.ls, .rs {
 display: inline-block;
 width: 49%;
}

.rs a {
 display: inline-block;
 text-align: right;
}

@media screen and (max-width: 480px) {
 .ls, .rs {
   width: 100%;
 }

 .rs a {
   display: block;
   padding: .5em .25em .5em 1em;
   text-align: left;
 }
}

/* AsciiDoc styles */

.admonitionblock {
 margin-top: 20px;
 margin-bottom: 20px;
 padding: 20px;
 background-color: #f5f5f5;
}

.note {
 border-left: 3px solid #4a94d0;
}

.tip {
 border-left: 3px solid #414042;
}

.caution {
 border-left: 3px solid #ff5000;
}

.warning {
 border-left: 3px solid #dc522b;
}

.important {
 border-left: 3px solid #0070cd;
}

.admonitionblock table {
 margin: 0;
 border-style: hidden;
}

.admonitionblock table tbody tr td .icon {
 /* border-style: hidden; */
}

.icon {
 border-style: hidden !important;
 width: 85px;
 font-weight: 700;
 text-align: center;
 text-transform: uppercase;
}

.conum {
 color: #fff;
 background-color: #f15a24;
 font-family: "Open Sans",sans-serif;
 border-radius: 50%;
 padding: 5px;
}

.colist ol li p {
 margin: 0;
}

.tip {

}
.note {

}

/* Style a temporary area for other doc sets */

.landing-doc-sets {
 background-color: #f5f5f5;
 padding: 1rem 2rem 0rem 2rem;
 border-radius: 1rem;
}
.landing-doc-sets h2 {
margin: 0; 
}
.landing-doc-sets ul {
 padding-top: 0;
}

/*

 tabbed content

*/

.tab-wrap {
 border-radius: 6px;
 border: solid;
 border-width: 1px;
 border-color: #55565a;
 max-width: 100%;
 display: flex;
 -webkit-flex-wrap: wrap;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
 position: relative;
 list-style: none;
 background-color: #fff;
 margin: 40px 0;
}


.tab { display: none; }


.tab:checked:nth-of-type(1) ~ .tab-content:nth-of-type(1) {
 opacity: 1;
 -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
 transition: 0.5s opacity ease-in, 0.8s transform ease;
 position: relative;
 top: 0;
 z-index: 100;
 -webkit-transform: translateY(0px);
 -ms-transform: translateY(0px);
 transform: translateY(0px);
 text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(2) ~ .tab-content:nth-of-type(2) {
 opacity: 1;
 -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
 transition: 0.5s opacity ease-in, 0.8s transform ease;
 position: relative;
 top: 0;
 z-index: 100;
 -webkit-transform: translateY(0px);
 -ms-transform: translateY(0px);
 transform: translateY(0px);
 text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(3) ~ .tab-content:nth-of-type(3) {
 opacity: 1;
 -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
 transition: 0.5s opacity ease-in, 0.8s transform ease;
 position: relative;
 top: 0;
 z-index: 100;
 -webkit-transform: translateY(0px);
 -ms-transform: translateY(0px);
 transform: translateY(0px);
 text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(4) ~ .tab-content:nth-of-type(4) {
 opacity: 1;
 -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
 transition: 0.5s opacity ease-in, 0.8s transform ease;
 position: relative;
 top: 0;
 z-index: 100;
 -webkit-transform: translateY(0px);
 -ms-transform: translateY(0px);
 transform: translateY(0px);
 text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(5) ~ .tab-content:nth-of-type(5) {
 opacity: 1;
 -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
 transition: 0.5s opacity ease-in, 0.8s transform ease;
 position: relative;
 top: 0;
 z-index: 100;
 -webkit-transform: translateY(0px);
 -ms-transform: translateY(0px);
 transform: translateY(0px);
 text-shadow: 0 0 0;
}

.tab:first-of-type:not(:last-of-type) + label {
 border-top-right-radius: 0;
 border-bottom-right-radius: 0;
}

.tab:not(:first-of-type):not(:last-of-type) + label { border-radius: 0; }

.tab:last-of-type:not(:first-of-type) + label {
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
}

.tab:checked + label {
 background-color: #fff;
 box-shadow: 0 -1px 0 #fff inset;
 cursor: default;
}

.tab:checked + label:hover {
 box-shadow: 0 -1px 0 #fff inset;
 background-color: #fff;
}

.tab + label {
 border-radius: 6px 6px 0 0;
 cursor: pointer;
 display: block;
 text-decoration: none;
 font-weight: 600;
 color: #333;
 flex-grow: 3;
 background-color: #f2f2f2;
 user-select: none;
 text-align: center;
 height: 50px;
 box-sizing: border-box;
 padding: 15px;
}

.tab + label:hover {
 background-color: #f9f9f9;
 box-shadow: 0 1px 0 #f4f4f4 inset;
}

.tab-content {
 padding: 10px 25px;
 background-color: transparent;
 position: absolute;
 width: 100%;
 z-index: -1;
 opacity: 0;
 left: 0;
 -webkit-transform: translateY(-3px);
 -ms-transform: translateY(-3px);
 transform: translateY(-3px);
 border-radius: 6px;
}

.docs-tooltip {
 background: rgba(97,97,97,.9);
 border-radius: 2px;
 color: #fff;
 font-size: 10px;
 font-weight: 500;
 line-height: 11px;
 padding: 8px;
 transform: translate(29px);
}

.docs-tooltip {
 background: rgba(97,97,97,.9);
 border-radius: 2px;
 color: #fff;
 font-size: 10px;
 font-weight: 500;
 line-height: 11px;
 padding: 8px;
 transform: translate(29px);
}

.docs-tooltip.is-active {
 -webkit-animation:pulse 200ms cubic-bezier(0,0,.2,1)forwards;animation:pulse 200ms cubic-bezier(0,0,.2,1)forwards;
}