{{ define "main" }}

<h1>Portworx Documentation</h1>

<header id="search-container-holding-space">
  <div id="search-box-holding">
    <div id="ais-search-box-holding">
      <input autocapitalize="off" autocomplete="off" autocorrect="off" placeholder="Search for pages" role="textbox" spellcheck="false" type="text" value="" class="ais-search-box--input-holding">
    </div>
  </div>
</header>
<header id="search-container">
  <div id="search-box">

  </div>
</header>

<div id="search-hits-wrapper-landingpage">
  <div id="search-hits"></div>
</div>


<!-- Draw the section titles and their child section titles -->
{{ range .Site.Pages }}
  {{ if eq .Params.homepagegroup "k8s 1"}}
  <div>
    <div>
      <a href="{{.RelPermalink}}"><h2>{{ .Title }}</h2></a>
      <!-- <p> <strong> Description: </strong> {{ .Description }} </p>
      <p> <strong>Link: </strong> <a class="post-title" href="{{.RelPermalink}}">{{ .Title }}</a> </p> -->
    </div>
    <div>
      <ul>
      {{ with . }}
        {{ range .Sections }}
            <li> <a class="post-title" href="{{.RelPermalink}}">{{ .Title }}</a> </li>
        {{ end }}
      {{ end }}
      </ul>
    </div>
  </div>
  {{ end }}
{{ end }}

{{ end }}
