{{ define "main" }}

<!-- Draw the section titles and their child section titles -->
{{ range .Site.Pages }}
  {{ if eq .Params.homepagegroup "k8s 1"}}
  <div>
    <div>
      <a href="{{.RelPermalink}}"><h2>{{ .Title }}</h2></a>
      <!-- <p> <strong> Description: </strong> {{ .Description }} </p>
      <p> <strong>Link: </strong> <a class="post-title" href="{{.RelPermalink}}">{{ .Title }}</a> </p> -->
    </div>
    <div>
      <ul>
      {{ with . }}
        {{ range .Sections }}
            <li> <a class="post-title" href="{{.RelPermalink}}">{{ .Title }}</a> </li>
        {{ end }}
      {{ end }}
      </ul>
    </div>
  </div>
  {{ end }}
{{ end }}

{{ end }}
