<form id="feedback123" name="test" data-netlify="true">
  <p id="">Was this page helpful?</p>
  <p>
    <input type="radio" name="sentiment" value="like"/><label><i class="material-icons">thumb_up</i></label>
    <input type="radio" name="sentiment" value="dislike"/><label><i class="material-icons">thumb_down</i></label>
  </p>
  <p>
    <label><textarea name="message" placeholder="Feedback text goes here" maxlength="2000"></textarea></label>
  </p>
  <p>
    <button type="submit">Submit</button>
  </p>
</form>

