<form id="feedback123" name="test" data-netlify="true">
  <div id="feedbackTitle">Was this page helpful?</div>
  <div id="feedbackRadio">
    <input type="radio" name="sentiment" value="like"/><label><i class="material-icons">thumb_up</i></label>
    <input type="radio" name="sentiment" value="dislike"/><label><i class="material-icons">thumb_down</i></label>
  </div>
  <div id="feedbackText">
    <label><textarea name="message" placeholder="Feedback text goes here" maxlength="2000"></textarea></label>
  </div>
  <div id="feedbackButton">
    <button type="submit">Submit</button>
  </div>
</form>

