{{- $currentNode := . }}
{{- $depth := 0 }}

<!--
{{- .Scratch.Set "pages" (.Site.Home.Pages | union .Site.Home.Sections) }}
{{- $pages := (.Scratch.Get "pages") }}

-->

{{- range (( where .Site.Pages "Section" "kubernetes") .Site.Pages.ByWeight)}}
  {{- if eq .Parent (.Site.GetPage "/kubernetes") }}
      {{- template "nav-tree" dict "section" . "currentnode" $currentNode "depth" $depth}}
  {{- end}}
{{- end}}

<!--
  nav-link template
 -->
{{- define "nav-link" }}
  {{- $currentNode := .currentnode }}
  {{- $depth := .depth }}
  {{- $node := .node }}
  {{- $mode := .mode }}

  {{- with .node}}
    <a
      style="padding-left: {{- mul $depth 10 }}px"
      class="mdl-navigation__link{{- if eq .URL $currentNode.URL}} active mdl-color-text--primary {{ end }}"
      href="{{ .URL }}"
    >

      <div class="menu-link-title">
        {{- if or (eq $mode "branch") (eq $depth 0) }}
          <span class="branchlink{{- if eq .URL $currentNode.URL}} active mdl-color-text--primary {{ end }}">&nbsp;&nbsp;&nbsp;{{.LinkTitle}}</span>
        {{- else}}
          <span class="leaflink{{- if eq .URL $currentNode.URL}} active mdl-color-text--primary {{ end }}">&nbsp;&nbsp;&nbsp;{{.LinkTitle}}</span>
        {{- end}}
      </div>

      <div
        class="menu-link-icon"
        data-menu-type="{{ $mode }}"
        data-menu-url="{{ .URL }}"
        data-menu-id="{{- .UniqueID -}}"
      >
        {{- if eq $mode "branch"}}
            {{ if .Params.noicon }}
            {{else}}
              <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">keyboard_arrow_right</i>
            {{end}}
        {{- else}}
          <span class="empty-icon" role="presentation"></span>
        {{- end}}
      </div>


    </a>
  {{- end}}
{{- end}}

<!--
  nav-tree template
 -->
{{- define "nav-tree" }}
  {{- $currentNode := .currentnode }}
  {{- $depth := .depth }}
  {{- $section := .section }}


  {{- with .section}}

    <!--
      open/close toggle

      if one of these is true - then render the children

        * the item is the current page
        * the item is an ancestor of the current page
     -->
    {{- $open := or (.IsAncestor $currentNode) (eq $currentNode $section) }}

    {{- if not .Params.Hidden }}
      <!--
        SECTION BLOCK
       -->
      {{- if .IsSection}}

          <!--
            render link
           -->
          {{- template "nav-link" dict "node" . "currentnode" $currentNode "depth" $depth "mode" "branch"}}

          <div id="menu-children-{{- .UniqueID -}}" class="menu-children {{- if $open }} open{{ end }}">
            <!--
              collate children
             -->

            <!--
            Commenting this for now...
            {{- .Scratch.Set "pages" .Pages }}
            {{- if .Sections}}
              {{- .Scratch.Set "pages" (.Pages | union .Sections) }}
            {{- end}}
            {{- $pages := (.Scratch.Get "pages") }}
            -->

            <!--
              loop children
             -->
            {{- range (( where .Site.Pages "Section" "kubernetes") .Site.Pages.ByWeight)}}
 
              {{- template "nav-tree" dict "section" . "currentnode" $currentNode "depth" (add $depth 1)}}

            {{- end}}
          </div>



      <!--
        PAGE BLOCK
       -->
      {{- else}}

        {{- template "nav-link" dict "node" . "currentnode" $currentNode "depth" $depth "mode" "leaf"}}

      {{- end}}
    {{- end}}


  {{- end}}
{{- end}}


