<!--
  SIDEBAR
 -->
<header id="search-container-holding-space">
  <div id="search-box-holding">
    <div id="ais-search-box-holding">
      <input autocapitalize="off" autocomplete="off" autocorrect="off" placeholder="Search for pages" role="textbox" spellcheck="false" type="text" value="" class="ais-search-box--input-holding">
    </div>
  </div>
</header>
<header id="search-container">
  <div id="search-box">

  </div>
</header>

<nav class="docs-navigation mdl-navigation mdl-color--grey-100">

  <div id="menu-content">
    {{- partial "kubernetes-menu.html" . }}
  </div>

</nav>

<footer id="version-menu">
  <div id="version-menu-dropdown">
    <button id="vert-button" class="mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">more_vert</i>
    </button>
    <button id="text-button" class="mdl-button mdl-js-button">
    </button>
  </div>
  <ul id="version-menu-options" class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect"
      for="version-menu-dropdown">

  </ul>
</footer>


