<!--
  SIDEBAR
 -->


<nav class="docs-navigation mdl-navigation mdl-color--grey-100">

  <div id="menu-content">
    {{- partial "landing-page-menu.html" . }}
  </div>

</nav>

<footer id="version-menu">
  <div id="version-menu-dropdown">
    <button id="vert-button" class="mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">more_vert</i>
    </button>
    <button id="text-button" class="mdl-button mdl-js-button">

    </button>
  </div>
  <ul id="version-menu-options" class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect"
      for="version-menu-dropdown">

  </ul>
</footer>

