{{- $branchVersionConfig := getenv "BRANCH_VERSION_CONFIG" -}}
{{- $travisBranch := getenv "TRAVIS_BRANCH" -}}
{{- $defaultVersion:= default "2.5" (getenv "DEFAULT_VERSION") -}}

{{- if and (ne $travisBranch "") (eq $branchVersionConfig "") -}}
  {{- printf $travisBranch -}}
{{- end -}}

{{- if and (eq $travisBranch "") (eq $branchVersionConfig "") -}}
  {{- printf $defaultVersion -}}
{{- end -}}

{{- if and (ne $branchVersionConfig "") (ne $travisBranch "") -}}
  {{- if in $branchVersionConfig $travisBranch -}}
    {{- printf $travisBranch -}}
  {{- else -}}
    {{- $latestVersionArray := findRE "[^=]*" $branchVersionConfig -}}
    {{- $latestVersion := index ($latestVersionArray) 0 -}}
    {{- printf $latestVersion -}}
  {{- end -}}
{{- end -}}
