{{ if .IsNamedParams }}
  {{- $series := .Get "series" -}}
  <ul class="list-series">
    {{ range where .Site.Pages "Params.series" $series }}
      <li class="list-series__item mdl-card mdl-shadow--2dp">
        <a href="{{.Permalink}}">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">
              <a href="{{.Permalink}}">{{.Title}}</a>
            </h2>
          </div>
          <div class="mdl-card__supporting-text">
              <p>{{.Description}}</p>
          </div>
          <a href="{{.Permalink}}"><i class="material-icons">arrow_forward_ios</i></a>
        </a>
      </li>
    {{ end }}
  </ul>
{{ end }}
<style>
  .docs-content {width: calc(100% - 360px)}
  @media screen and (max-width: 1035px) {
    .docs-content {width: calc(100% - 60px)}
  }
</style>
