<ul class="list-series">
  <li class="list-series__item mdl-card mdl-shadow--2dp">
    <a href="https://www.katacoda.com/portworx/scenarios/deploy-px-k8s" target="_blank">
      <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">Basic Install of Portworx on Kubernetes</h3>
      </div>
      <div class="mdl-card__supporting-text">
          <p>Gives a high level overview on installing Portworx on Kubernetes.</p>
      </div>
      <i class="material-icons">arrow_forward_ios</i>
    </a>
  </li>
  <li class="list-series__item mdl-card mdl-shadow--2dp">
    <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-vol-basic" target="_blank">
      <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">PVCs with Portworx</h3>
      </div>
      <div class="mdl-card__supporting-text">
          <p>Shows how to create persistent volumes using Portworx on Kubernetes.</p>
      </div>
      <i class="material-icons">arrow_forward_ios</i>
    </a>
  </li>
  <li class="list-series__item mdl-card mdl-shadow--2dp">
    <a href="https://www.katacoda.com/portworx/scenarios/px-helm-mongo" target="_blank">
      <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">Deploy Mongo using Portworx and Helm</h3>
      </div>
      <div class="mdl-card__supporting-text">
          <p>Shows how to deploy MongoDB using Portworx and goes through failover scenarios and snapshots.</p>
      </div>
      <i class="material-icons">arrow_forward_ios</i>
    </a>
  </li>
  <li class="list-series__item mdl-card mdl-shadow--2dp">
    <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-postgres-all-in-one" target="_blank">
      <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">Deploy HA PostgreSQL with Portworx</h3>
      </div>
      <div class="mdl-card__supporting-text">
          <p>Shows how to deploy PostgreSQL using Portworx.</p>
      </div>
      <i class="material-icons">arrow_forward_ios</i>
    </a>
  </li>
  <li class="list-series__item mdl-card mdl-shadow--2dp">
    <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-sql-ha" target="_blank">
      <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">SQL Server High-Availabilty with Portworx</h3>
      </div>
      <div class="mdl-card__supporting-text">
          <p>Goes through SQL Server deployment and high-availibility with Portworx, with a sub 2 minute failover.</p>
      </div>
      <i class="material-icons">arrow_forward_ios</i>
    </a>
  </li>
  <li class="list-series__item mdl-card mdl-shadow--2dp">
    <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-vol-shared" target="_blank">
      <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">Shared Portworx volumes on Kubernetes</h3>
      </div>
      <div class="mdl-card__supporting-text">
          <p>Shows how to use shared Portworx volumes on Kubernetes.</p>
      </div>
      <i class="material-icons">arrow_forward_ios</i>
    </a>
  </li>
  <li class="list-series__item mdl-card mdl-shadow--2dp">
    <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-kubectl-resize-volume" target="_blank">
      <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">Resize Kubernetes volumes</h3>
      </div>
      <div class="mdl-card__supporting-text">
          <p>Goes through Resizing Portworx volumes on Kubernetes.</p>
      </div>
      <i class="material-icons">arrow_forward_ios</i>
    </a>
  </li>
  <li class="list-series__item mdl-card mdl-shadow--2dp">
    <a href="https://www.katacoda.com/portworx/scenarios/px-minio" target="_blank">
      <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">Backups of Portworx volumes</h3>
      </div>
      <div class="mdl-card__supporting-text">
          <p>Shows how to deploy Minio on Portworx volumes and use it for volume backups.</p>
      </div>
      <i class="material-icons">arrow_forward_ios</i>
    </a>
  </li>
  <li class="list-series__item mdl-card mdl-shadow--2dp">
    <a href="https://www.katacoda.com/portworx/scenarios/px-kafka" target="_blank">
      <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">Kafka and Zookeeper using Portworx</h3>
      </div>
      <div class="mdl-card__supporting-text">
          <p>Shows how to deploy Kafka and Zookeeper on Kubernetes using Portworx volumes.</p>
      </div>
      <i class="material-icons">arrow_forward_ios</i>
    </a>
  </li>
  <li class="list-series__item mdl-card mdl-shadow--2dp">
    <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-redis" target="_blank">
      <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">HA Redis on Kubernetes with Portworx</h3>
      </div>
      <div class="mdl-card__supporting-text">
          <p>Goes over deploying a Redis database on Kubernetes using Portworx, showing HA failover scenario.</p>
      </div>
      <i class="material-icons">arrow_forward_ios</i>
    </a>
  </li>
</ul>
<style>
  /* .docs-content {width: calc(100% - 360px)}
  @media screen and (max-width: 1035px) {
    .docs-content {width: calc(100% - 60px)}
  }
  #scrollspy-container {
    display: none;
  } */
</style>
