<ul class="list-series">
  <li class="list-series__item mdl-card mdl-shadow--2dp">
    <a href="https://www.katacoda.com/portworx/scenarios/deploy-px-k8s" target="_blank">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">
          <a href="https://www.katacoda.com/portworx/scenarios/deploy-px-k8s" target="_blank">Basic Install of Portworx on Kubernetes</a>
        </h2>
      </div>
      <div class="mdl-card__supporting-text">
          <p>Gives a high level overview on installing Portworx on Kubernetes.</p>
      </div>
      <a href="https://www.katacoda.com/portworx/scenarios/deploy-px-k8s" target="_blank"><i class="material-icons">arrow_forward_ios</i></a>
    </a>
  </li>
  <li class="list-series__item mdl-card mdl-shadow--2dp">
    <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-vol-basic" target="_blank">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">
          <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-vol-basic" target="_blank">PVCs with Portworx</a>
        </h2>
      </div>
      <div class="mdl-card__supporting-text">
          <p>Shows how to create persistent volumes using Portworx on Kubernetes.</p>
      </div>
      <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-vol-basic" target="_blank"><i class="material-icons">arrow_forward_ios</i></a>
    </a>
  </li>
  <li class="list-series__item mdl-card mdl-shadow--2dp">
    <a href="https://www.katacoda.com/portworx/scenarios/px-helm-mongo" target="_blank">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">
          <a href="https://www.katacoda.com/portworx/scenarios/px-helm-mongo" target="_blank">Deploy Mongo using Portworx and Helm</a>
        </h2>
      </div>
      <div class="mdl-card__supporting-text">
          <p>Shows how to deploy MongoDB using Portworx and goes through failover scenarios and snapshots.</p>
      </div>
      <a href="https://www.katacoda.com/portworx/scenarios/px-helm-mongo" target="_blank"><i class="material-icons">arrow_forward_ios</i></a>
    </a>
  </li>
  <li class="list-series__item mdl-card mdl-shadow--2dp">
    <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-postgres-all-in-one" target="_blank">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">
          <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-postgres-all-in-one" target="_blank">Deploy HA PostgreSQL with Portworx</a>
        </h2>
      </div>
      <div class="mdl-card__supporting-text">
          <p>Shows how to deploy PostgreSQL using Portworx.</p>
      </div>
      <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-postgres-all-in-one" target="_blank"><i class="material-icons">arrow_forward_ios</i></a>
    </a>
  </li>
  <li class="list-series__item mdl-card mdl-shadow--2dp">
    <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-sql-ha" target="_blank">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">
          <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-sql-ha" target="_blank">SQL Server High-Availabilty with Portworx</a>
        </h2>
      </div>
      <div class="mdl-card__supporting-text">
          <p>Goes through SQL Server deployment and high-availibility with Portworx, with a sub 2 minute failover.</p>
      </div>
      <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-sql-ha" target="_blank"><i class="material-icons">arrow_forward_ios</i></a>
    </a>
  </li>
  <li class="list-series__item mdl-card mdl-shadow--2dp">
    <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-vol-shared" target="_blank">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">
          <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-vol-shared" target="_blank">Shared Portworx volumes on Kubernetes</a>
        </h2>
      </div>
      <div class="mdl-card__supporting-text">
          <p>Shows how to use shared Portworx volumes on Kubernetes.</p>
      </div>
      <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-vol-shared" target="_blank"><i class="material-icons">arrow_forward_ios</i></a>
    </a>
  </li>
  <li class="list-series__item mdl-card mdl-shadow--2dp">
    <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-kubectl-resize-volume" target="_blank">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">
          <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-kubectl-resize-volume" target="_blank">Resize Kubernetes volumes</a>
        </h2>
      </div>
      <div class="mdl-card__supporting-text">
          <p>Goes through Resizing Portworx volumes on Kubernetes.</p>
      </div>
      <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-kubectl-resize-volume" target="_blank"><i class="material-icons">arrow_forward_ios</i></a>
    </a>
  </li>
  <li class="list-series__item mdl-card mdl-shadow--2dp">
    <a href="https://www.katacoda.com/portworx/scenarios/px-minio" target="_blank">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">
          <a href="https://www.katacoda.com/portworx/scenarios/px-minio" target="_blank">Backups of Portworx volumes</a>
        </h2>
      </div>
      <div class="mdl-card__supporting-text">
          <p>Shows how to deploy Minio on Portworx volumes and use it for volume backups.</p>
      </div>
      <a href="https://www.katacoda.com/portworx/scenarios/px-minio" target="_blank"><i class="material-icons">arrow_forward_ios</i></a>
    </a>
  </li>
  <li class="list-series__item mdl-card mdl-shadow--2dp">
    <a href="https://www.katacoda.com/portworx/scenarios/px-kafka" target="_blank">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">
          <a href="https://www.katacoda.com/portworx/scenarios/px-kafka" target="_blank">Kafka and Zookeeper using Portworx</a>
        </h2>
      </div>
      <div class="mdl-card__supporting-text">
          <p>Shows how to deploy Kafka and Zookeeper on Kubernetes using Portworx volumes.</p>
      </div>
      <a href="https://www.katacoda.com/portworx/scenarios/px-kafka" target="_blank"><i class="material-icons">arrow_forward_ios</i></a>
    </a>
  </li>
  <li class="list-series__item mdl-card mdl-shadow--2dp">
    <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-redis" target="_blank">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">
          <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-redis" target="_blank">HA Redis on Kubernetes with Portworx</a>
        </h2>
      </div>
      <div class="mdl-card__supporting-text">
          <p>Goes over deploying a Redis database on Kubernetes using Portworx, showing HA failover scenario.</p>
      </div>
      <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-redis" target="_blank"><i class="material-icons">arrow_forward_ios</i></a>
    </a>
  </li>
</ul>
<style>
  .docs-content {width: calc(100% - 360px)}
  @media screen and (max-width: 1035px) {
    .docs-content {width: calc(100% - 60px)}
  }
  #scrollspy-container {
    display: none;
  }
</style>
