{{- $allParams := .Params -}}
{{- $elementName := index $allParams 0 -}}
{{- $tabsNum := ( sub (len $allParams) 1) -}} <!-- The first parameter is the name of the element. -->

{{- if gt $tabsNum 5 }}
 {{ errorf "The maximum number of tabs is 5. If you need more tabs, then you must modify the styles.css file." -}} 
{{- end -}}

<div class="tab-wrap">
  {{- range $index, $val := (last $tabsNum $allParams) }}
  <!-- By default, the first tab is active-->
  <input type="radio" id="{{- printf "tab-%s" . -}}" name="{{- $elementName -}}" class="tab"
  {{- if (eq $index 0) -}}
    {{- printf "checked" -}}
  {{- end -}} >
    <label for="{{- printf "tab-%s" . -}}">{{- $val -}}</label> 
  {{- end -}}

  {{- .Inner -}}

</div>

